{
    "branch": "main",
    "branches": [ "main" ],
    "tagFormat": "${commit}",
    "plugins": [
        "./scripts/always-release.js",
        ["@semantic-release/release-notes-generator", {
            "writerOpts": {
                "headerPartial": "Release ${commit}"
            }
        }],
        ["@semantic-release/changelog",
         {
             "changelogFile": "CHANGELOG.md"
         }
        ],
        ["@semantic-release/exec", {
            "prepareCmd": "mv dist essinghigh-splunk-datasource; tar -czvf essinghigh-splunk-datasource-${nextRelease.version}.tar.gz essinghigh-splunk-datasource"
        }],
        ["@semantic-release/git",
         {
             "assets": ["CHANGELOG.md"]
         }
        ],
        ["@semantic-release/github",
         {
             "assets": ["essinghigh-splunk-datasource-*.tar.gz"],
             "tagName": "${commit}",
             "releaseName": "${commit}"
         }
        ]
    ]
}
