{
    "branch": "main",
    "branches": [ "main" ],
    "tagFormat": "${version}",
    "plugins": [
        "./scripts/commit-hash-release.js",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/changelog",
         {
             "changelogFile": "CHANGELOG.md"
         }
        ],
        ["@semantic-release/exec", {
            "prepareCmd": "mv dist essinghigh-splunk-datasource; GIT_HASH=$(git rev-parse --short HEAD); tar -czvf essinghigh-splunk-datasource-$GIT_HASH.tar.gz essinghigh-splunk-datasource"
        }],
        ["@semantic-release/git",
         {
             "assets": ["CHANGELOG.md"]
         }
        ],
        ["@semantic-release/github",
         {
             "assets": ["essinghigh-splunk-datasource-*.tar.gz"]
         }
        ]
    ]
}
